<!DOCTYPE html>
<html lang="en">
    {{> header}}

<body style="overflow: hidden">
    
    {{{ body }}}
    {{> footer}}
    {{> temp0 }}
    {{> temp1 }}
    {{> script1 }}
</body>
    
</html>