.half-navigation {
    a {
        text-decoration:none;
        color:#fff;
      }
    h2 {
        margin:0;
        border-bottom:1px solid rgba(0,0,0,0.21);
        text-transform:uppercase;
        background-color:rgba(0,0,0,0.69);
        font-size:16px;
        letter-spacing:3px;
        padding-left:15px;
        padding-top:15px;
        padding-bottom:15px;
        font-weight:900;
    }
    
    input[type="radio"]:checked + label   {
        background-color:rgba(0,0,0,0) !important;
        font-weight:900;
    }
      
    input[type="radio"]:checked + label + .sub-menu {
        display:block;
        height:100%;
        max-height:300px;
    }
    
    input[type="radio"]:checked + label + .sub-menu li {
        height:35px;
        line-height:35px;
    }

    .half-select{
        width:100%;
        height:auto;
        -o-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -webkit-transition:all 0.3s linear;
        transition:all 0.3s linear;
        position:relative;  
        span {
            width:0;
             height:50px;
           /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100&0.21+0,0.42+99 */
           background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.21) 0%, rgba(241,241,241,0.32) 50%, rgba(225,225,225,0.32) 51%, rgba(246,246,246,0.42) 99%, rgba(246,246,246,0.42) 100%); /* FF3.6-15 */
           background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.21) 0%,rgba(241,241,241,0.32) 50%,rgba(225,225,225,0.32) 51%,rgba(246,246,246,0.42) 99%,rgba(246,246,246,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
           background: linear-gradient(45deg,  rgba(255,255,255,0.21) 0%,rgba(241,241,241,0.32) 50%,rgba(225,225,225,0.32) 51%,rgba(246,246,246,0.42) 99%,rgba(246,246,246,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36ffffff', endColorstr='#6bf6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
             -webkit-transition:all 0.3s ease-in-out;
             border-top-right-radius:105px;
             position:absolute;
             left:0;
           }
           
           
        &:hover span {
             width:245px;
             border-top-right-radius:0px;
             pointer-events:none;
             position:absolute;
        }

        .sub-menu {
            /*display:none;*/
            overflow:hidden;
            padding-left:0;
            height:0%;
            padding:0;
            margin:0;
            padding-left:0;
            padding-top:0px;
            padding-bottom:0px;
            list-style-type:none;
             -o-transition:all 0.3s linear;
            -ms-transition:all 0.3s linear;
            -moz-transition:all 0.3s linear;
            -webkit-transition:all 0.3s linear;
            transition:all 0.3s linear;
            max-height:0px;
            
            li {
                width:100%;
                list-style-type:none;
                height:0;
                vertical-align:middle;
                padding-left:10px;
                box-sizing:border-box;
                white-space:nowrap;
                overflow:hidden;
                border-bottom:2px inset rgba(0,0,0,0.15);
                text-transform:uppercase;
                font-size:0.85em;
                letter-spacing:1px;
                font-weight:300;
                background-color:rgba(0,0,0,0.1);
                -o-transition:height 0.3s linear;
                -ms-transition:height 0.3s linear;
                -moz-transition:height 0.3s linear;
                -webkit-transition:height 0.3s linear;
                transition:height 0.3s linear;
              }
            
            li:hover {
                background-color:rgba(0,0,0,0.42);
                font-weight:900;
            }

            
          }
          
    }

}

.dull .focus p {
    color:#fff;
    -webkit-filter:blur(0px) !important;
  }
.dull .focus h2 {
    -webkit-filter:blur(0px) !important;
    color:#fff !important;
}

.dull div.focus {
    box-shadow:0 0 50px rgba(0,0,0,0.42);
    background-color:rgba(0,0,0,0.01);
    border-radius:15px;
    border-left:5px solid rgba(0,0,0,0) !important;
    -webkit-transition:box-shadow 0.3s linear;
}

.dull h2, .dull p, dull h1 {
    -webkit-filter:blur(1px);
    color:rgba(255,255,255,0.42);
    -webkit-transition:color 0.3s linear;
    -webkit-transition:filter 0.3s linear;
}